<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	default-init-method="onCreate" default-destroy-method="onDestroy"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="patient"
		class="org.learning.spring.test.SpringLearn.Patient" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy" c:_0="44"
		c:_1="saiful">
	<property name="energencyContactList">
		<list>
			<value>Name1</value>
			<value>2</value>
			<value>3</value>
			<value>5</value>
			<value>44</value>
			<value>two</value>
		</list>
	</property>
	</bean>
</beans>
